.custom-form {
  background-color: #ffc107 !important;
  color: #01004d;
  font-weight: 600;
  filter: drop-shadow(10px 10px 10px #01004d7a);
  border-top-left-radius: 0 !important;
  border: 1px solid  #01004d37 !important;
}

.custom-form .btn-primary {
  background-color: #01004d !important;
  border-color: #ffc107 !important;
  color: #ffc107 !important;
  font-weight: 700;
}

.custom-tab .nav-link.active {
  background-color: #ffc107 !important;
  color: #01004d !important;
  border-color: #01004d37 !important;
  border-bottom: none !important;
}

.custom-tab .nav-link {
  background-color: #ffc10737 !important;
  color: #01004d37 !important;
  border-color: #01004d37 !important;
  border-bottom: none !important;
}

.custom-container {
  padding: 4rem 1rem;
}