.custom-footer {
  position: absolute !important;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 0.75rem;
  background-color: #fff0 !important;
  border: 5px 0 0 0 !important;
  border-style: dashed !important;
}

.custom-footer-card {
  font-size: 0.6rem;
  padding: 0.5rem 1rem !important;
}

.custom-footer-socials {
  padding: 5px 5px !important;
  border: none !important;
  background-color: #fff0 !important;
  width: 40px !important;
  height: 40px !important;
}