.custom-lore-card {
  border: none !important;
  padding: 1.5rem 0 !important;
  background-color: #fff0 !important;
}

.custom-lore-card .card-header{
  padding: 1.5rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #01004d !important;
  color: #ffc107;
  border-radius: 5px 5px 0px 0px !important;
}

.custom-lore-card .card-body {
  background-color: #fff !important;
  border-radius: 0px 0px 5px 5px !important;
}

.custom-lore-button {
  padding: 1.5rem 0;
  background-color: #01004d !important;
  border-radius: 5px !important;
  margin-bottom: 30px !important;
}

.custom-lore-button span {
  font-size: 3.5rem;
  font-weight: 700;
  border: none !important;
  color: #ffc107 !important;
}

